body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8ab0ed;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1200px;
  margin: 50px auto;
}

.GreenButton {
    width: 100%;
    height: 50px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    &:hover {
      background: lighten(#9dd558, 5%);
    }
    &:active {
      background: darken(#9dd558, 5%);
    }
    &:disabled {
      background-color: #bebebe;
      cursor: default;
      animation: button-loading 0.8s ease-in-out infinite;
    }
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #8ab0ed;
  a:link {
    text-decoration: none;
  }
  ul{
    list-style-type: none;
  }
  .headerInfo{
    h3 {
      text-transform: uppercase;
    }
    p {
      opacity: 0.6;
    }
  }
  .headerLeft {
    display: flex;
    align-items: center;
    h3, p {
      margin: 0;
      color: #000;
    }
    img {
      width: 45px;
      height: 45px;
      margin: 10px;
    }
  }

  .headerRight {
    display: flex;
    .FirstLi {
      margin-right: 30px;
      cursor: pointer;
      border: 0;
      &:hover {
        transform: translateY(-1px);
      }
    }
    .SecondLi {
      margin-right: 30px;
      cursor: pointer;
      &:hover {
        transform: translateY(-1px);
      }
    }
    .ThirdLi {
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        transform: translateY(-1px);
      }
    }
    img {
      width: 25px;
      height: 25px;
      margin: 0px auto;
    }
    span {
      padding-left: 10px;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.Content{
  padding: 20px;
  h1 {
    margin: 20px 0px 30px 10px;
  }

  .Search {
    display: flex;
    align-items: center;
    margin-top: -20px;
    justify-content: space-between;

    .Search-block {
      border: 1px solid #f3f3f3;
      border-radius: 10px;
      padding: 5px 15px;
      display: flex;
      position: relative;
      .clear {
        position: absolute;
        right: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        padding-right: 10px;
      }
      img {
        width: 20px;
        height: 15px;
        opacity: 0.4;
      }
      input {
        font-size: 16px;
        width: 200px;
        border: 0;
        outline: none;
      }
    }
  }

  .Tabak {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 30px 0px 30px;
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}